.container
  .row
    %h1 Topics
    = form_tag topics_path, method: :get do
      %p
        = text_field_tag :search, params[:search]
        = submit_tag "Search", :name => nil
    - @topics.each do |topic|
      = link_to "#{topic.title}", topic
      %br/
    = will_paginate @topics
    = succeed "\\>" do
      %br/
    - if current_user
      = link_to "New Topic", new_topic_path, class: 'btn btn-success'