.container
  .row
    - if @topic
      %h3
        = link_to @topic, data: { confirm: 'Are you sure you want to delete this topic?' }, method: :delete, class: 'btn btn-danger btn-xs' do
          %span.has-tooltip{"data-toggle" => "tooltip", :title => "Delete Topic"}
            %span.glyphicon.glyphicon-trash
        = link_to edit_topic_path(@topic), class: 'btn btn-success btn-xs' do
          %span.has-tooltip{"data-toggle" => "tooltip", :title => "Edit Topic"}
            %span.glyphicon.glyphicon-pencil
        Topic: #{@topic.title}
      %h4= "Bookmarks:" if @bookmarks.present?
      %ul
        = render partial: 'bookmarks/bookmark', collection: @bookmarks, locals: { topic_id: @topic.id }
      = render partial: 'bookmarks/form', locals: { topic_id: @topic.id }
    - else
      = link_to "New Topic", new_topic_path, class: 'btn btn-warning'
    %br/