.container
  .row
    %h1= "#{current_user.name}"
    .col-md-4
      %h2 My Topics
      - current_user.topics.each do |topic|
        %h3
          = link_to "#{topic.title}", topic
          %br/
        - topic.bookmarks.each do |bookmark|
          %h5
            = link_to "#{bookmark.url}", bookmark.url
            %br/
      = link_to "All Topics", topics_path, class: 'btn btn-info btn-top btn-bottom'
    .col-md-4
      %h2 My Bookmarks
      - current_user.bookmarks.each do |bookmark|
        %h4
          = link_to "#{bookmark.url}", bookmark.url
          %small= link_to " (#{bookmark.topic.title})", bookmark.topic
          %br/
      = link_to "All Bookmarks", bookmarks_path, class: 'btn btn-info btn-top btn-bottom'
    .col-md-4
      %h2 Liked Bookmarks
      - current_user.liked_bookmarks.each do |bookmark|
        %h5
          = link_to "#{bookmark.url}", bookmark.url
          = render partial: 'likes/like', locals: { bookmark: bookmark }
